<!DOCTYPE html>
<html>
<head>
  <title>Pupu</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "pupu", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
